<footer class="px-5 py-10 text-white font-sans">
    <div class="flex items-center gap-10 flex-col">
        
        <!-- Logo -->
        <div class="flex flex-col items-center gap-1">
            <img [src]="logoFooter" class="h-40 mx-24">
        </div>

        <!-- Texto informativo -->
        <div class="flex-1">
            <p class="font-bold text-sm mb-1">UBIK - PLATAFORMA PARA LA GESTIÓN INTELIGENTE DE MOTELES</p>
            <p class="text-[13px] mb-5">ADMINISTRA TUS RESERVAS, HABITACIONES Y SERVICIOS DESDE UN SOLO LUGAR.</p>

            <!-- Enlaces en columnas -->
            <div class="flex gap-20 mb-6">
                <div class="flex flex-col gap-2">
                    <a href="#" class="text-gray-300 text-xs hover:underline">Política de Privacidad</a>
                    <a href="#" class="text-gray-300 text-xs hover:underline">Términos y Condiciones</a>
                </div>
                <div class="flex flex-col gap-2">
                    <a href="#" class="text-gray-300 text-xs hover:underline">Política de Cookies</a>
                    <a href="#" class="text-gray-300 text-xs hover:underline">Aviso Legal</a>
                </div>
            </div>

            <!-- Derechos reservados -->
            <p class="text-[11px] opacity-80 mt-2">Todos los derechos reservados UBIK® 2024–2026</p>
        </div>

    </div>
</footer>