<!--
<aside class="filter">
    <section class="header">
        <h2>Filtros</h2>
        <span id="clear">Limpiar todo</span>
    </section>
    <section class="includingServices">
        @for (service of services; track service.id) {

            <input type="checkbox" name="{name}" id="{name}"><label for="{name}"></label>
        }@empty{
            No se encontraron servicios 
        }
    </section>
    <section class="categories">
         @for (categorie of categories; track categorie.id) {

            <input type="checkbox" name="{name}" id="{name}"><label for="{name}"></label>
        }@empty{
            No se encontraron servicios 
        }
    </section>

</aside>
-->
